{% extends "layouts/base.twig" %}
{% block content %}

	<div class="archive-wrapper">

		<a class="archive-wrapper__back" href="/">
			<img src="{{site.theme.link}}/assets/arrow_back.svg">
		</a>

		<div
			class="archive-content">
			<!-- Project showcase / horizontal scroll -->
			<section class="horizontal-scroll" id="sectionPin">

				<div class="pin-wrap">
					<h2 class="heading">
						{{ category }}</h2>

					{% for post in posts %}
						<div>
							<a href="{{post.link}}">
								<h2 class="heading__stroke">{{post.title}}</h2>
								<img class="imghover" src="{{post.thumbnail.src}}" alt="{{post.title}}"/>
							</a>
						</div>
					{% endfor %}

				</div>
			</section>
		</div>
	</div>


{% endblock %}
