{% extends "layouts/base.twig" %}
{% block content %}

	<div class="post-wrapper">

		<a class="post-wrapper__back" href="/">
			<img src="{{site.theme.link}}/assets/arrow_back.svg">
		</a>

		<div class="post-content">

			<h1 class="post-content__title">{{ post.title }}</h1>

			{% for category in post.categories %}
				<a href="{{ category.link }}">{{ category.name }}</a>
			{% endfor %}

			<hr>

			<div class="post-content__content">{{ post.content }}</div>


		</div>
		{% include "includes/comments.twig" %}

	</div>
{% endblock %}
